{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list bootstrapped_goodies_tags %}
{% load url from future %}
{% load admin_urls %}

                {% block result_list %}
                    {% result_list cl %}

        <div class="row-fluid">
            <div class="navbar navbar-default">
                <div class="navbar-inner">
                    <div class="pull-right">
                        <a class="navbar-brand">This page: ${{ page_price }}. Total: ${{ total_price }}.</a>
                    </div>
                </div>
            </div>
        </div>

                {% endblock %}
