{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ now|date:"M Y" }} At A Glance | Brick Collection Manager</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
</head>
<body>

  <div class="container">
    <h1><b>{{ now|date:"F Y" }}</b> at a glance</h2>

    {% if spent %}

        <h2>Spent <b>${{ spent.total_price__sum }}</b> on
        {# TODO use urls/reverse for this URL #}
            <a href="/sets/{{ now|date:"Y" }}/{{ now|date:"m" }}">{{ this_month.count }} sets</a></h2>

        <p>That's 
            {% if spent.total_price__sum > then.total_price__sum %}
                <b>up</b>
            {% else %}
                down
            {% endif %} 
            {% if change %}<b>{{ change }}%</b>{% endif %} on last month 
            (spent {% if change %}<b>${{ then.total_price__sum }}</b>{% else %}nothing{% endif %} in 
        {# TODO use urls/reverse for this URL #}
            <a href="/glance/{{ last|date:"Y" }}/{{ last|date:"m" }}">{{ last|date:"F" }}</a>)</p>

        <p>Most spent on <b>{{ themes.max }}</b> (${{ themes.max_cost }}); 
           most bought in <b>{{ themes.most }}</b> ({{ themes.most_count }} sets)</b></p>

        <p>Most spent at <b>{{ chains.max }}</b> (${{ chains.max_cost }}); 
           most bought in <b>{{ chains.most }}</b> ({{ chains.most_count }} sets)</b></p>

    {% else %}
        <h2>No sets (yet?) this month.</h2>
    {% endif %}

    {% if last_month %}
        <p>(spent <b>${{ then.total_price__sum }}</b> in 
        {# TODO use urls/reverse for this URL #}
            <a href="/glance/{{ last|date:"Y" }}/{{ last|date:"m" }}">{{ last|date:"F" }}</a>)</p>
    {% else %}
        {% if not spent %}
            <p>(Nothing spent in 
            {# TODO use urls/reverse for this URL #}
                <a href="/glance/{{ last|date:"Y" }}/{{ last|date:"m" }}">{{ last|date:"F" }}</a>)</p>
        {% endif %}
    {% endif %}

    <p>Some recently unopened sets that you might want to build:</p>
    <ul>{% for s in misb %}
        <li><a href="http://brickset.com/sets/{{ s.set_number }}/">{{ s.set_number }}</a> 
            <b>{{ s.set_name }}</b> ({{ s.theme }})</li>
    {% endfor %}</ul>
        

  </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
